---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$logo-blue: #485e87;
$logo-white: #ffffff;
$logo-gold: #ffca06;
$maroon: #4b3b47;

body {
  font: 400 16px/1.5 Akkurat Std,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

.site-header {
  background-color: $logo-blue;
}

.site-title, .page-link {
  color: $logo-white !important;
}

@media only screen and (max-width: 600px) {
  .page-link {
      color: $logo-blue !important;
  }
  .post-image {
    max-width: 300px;
  }
}

.site-header {
  border-top: 5px solid $logo-gold;
}

.logo {
  height: 40px;
}

.post-image {
  display: block;
  margin: 10px auto;
  max-width: 500px;
  max-height: 300px;
}
