---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains page.filter -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if post.cover  -%}
            <a href="{{ post.url | relative_url }}">
              <img class="post-image" src="{{ post.cover | relative_url }}" ></img>
            </a>
          {%- endif -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if post.excerpt -%}
              {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
